.crossword-container {
    width: 100vw;
    padding: 2rem;
    text-align: center;
}
.crossword-title {
    margin-bottom: 2rem;
    color: whitesmoke; /* Tailwind Purple-600 */
    font-size: 2.25rem; /* Tailwind text-4xl */
    font-weight: 700; /* Tailwind font-bold */
}

.crossword-grid-container {
    display: inline-block;
}

.crossword-table {
    border-collapse: collapse;
}

.crossword-cell {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border: 1px solid black; /* Tailwind Gray-200 */
}

.bg-black {
    background-color: #000000; /* Black for empty cells */
}

.bg-white {
    background-color: #FFFFFF; /* White for filled cells */
}

.text-white {
    color:white; /* White text color for "Constitution" */
}









.text-black {
    color:rgb(0, 0, 0); /* Black text color for other words */
}










.crossword-input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.125rem; /* Tailwind text-lg */
    border: none;
    background-color: transparent; /* Ensure the background is transparent */
   
}

.clues-title{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 2em;
    text-decoration: underline;
}

#across-clues-unique,#down-clues-unique{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 1.2em;
}

