

.parliament{
    position: absolute;
    margin-top: 7%;
    margin-left: 7%;
    height: 85%;
    width: 85%;
}
.boy1{
    position: absolute;
     top: 59%;
    left: 20%;
    width: 11%;
  transition: transform 0.3s ease; 
  transform-style: preserve-3d; 
}
.boy2{
    position: absolute;
   top: 53%;
    left: 44%;
    width: 14%;
  transition: transform 0.3s ease; 
  transform-style: preserve-3d; 
}
.boy3{
    position: absolute;
    top: 59%;
    left: 68%;
    width: 11%;
  transition: transform 0.3s ease; 
  transform-style: preserve-3d; 
}
.boy1:hover{
  transform: scale(1.1) rotateX(0deg) rotateY(0deg); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
.boy2:hover{
  transform: scale(1.1) rotateX(0deg) rotateY(0deg); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
.boy3:hover{
  transform: scale(1.1) rotateX(0deg) rotateY(0deg); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

h3{
    /* background-color: whitesmoke; */
    color: rgb(79, 8, 145);
    font-weight: 800;
    font-size: 1rem;
    border-radius: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}